@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
.fontName{
    font-family: 'Euphoria Script' !important;
}

.detailsFont{
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Rancho', cursive !important; */
    font-family: 'Caudex', serif !important;

}
.pointer{
    cursor: pointer
}
.headers-title{
    font-weight: bold  !important;
    text-transform: capitalize  !important;
    text-align: center  !important;

}
.hoverdiv {
    transition: all .5s ease-in-out !important;
  }
  .divopacity{
    background-color: rgba(0,0,0,.8);
  
  }